body {
  background-color: $dark-grey;
  font-size: 16px;
  color: $dark-grey;

  .container {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      background-color: $white-box;
      display: flex;
      justify-content: center;
      align-items: start;
      padding: 20px;
      border-radius: 40px;
      flex-wrap: wrap-reverse;

      @include mobile {
        height: 100%;
        padding: 0;
        
    
      }

      @include tablet {
        border-radius: 0;
        margin: 0;
      }

      .desktop {
        @include mobile {
          display: none;
        }
      }

      .mobile {
        display: none;
        @include mobile {
          display: block;
        }
      }

      .text {
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 4.2rem 3rem;
        max-width: 390px;

        @include mobile {
          margin: 1.5rem;
        }

        h1 {
          font-size: 50px;
          font-weight: 700;
          color: $color-txt;

          @include mobile {
            font-size: 35px;
          }
        }

        ul {
          li {
            gap: 20px;
            display: flex;
            justify-content: left;
            align-items: safe;
            max-width: 400px;
            margin-top: 10px;

            svg {
              min-width: 25px;
            }
          }
        }
        .form {
          gap: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: left;
          flex-direction: column;

          #email.error {
            border: 2px solid rgb(254, 132, 101);
            background-color: #ffe8de;
          }
          input.error::placeholder {
            color: rgb(255, 98, 87);
          }

          .gap-input {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }

          .alert {
            display: flex;
            justify-content: space-between;
            span {
              font-size: 12px;
              font-weight: 700;
              color: rgb(255, 98, 87);
            }
            label {
              font-size: 12px;
              font-weight: 700;
            }
          }
          #email {
            border-radius: 8px;
            padding: 1.2rem;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(146, 148, 160);
            font-size: 15px;
            cursor: pointer;
          }
          button {
            font-size: 16px;
            appearance: none;
            border: unset;
            background-color: rgb(54, 56, 78);
            color: rgb(255, 255, 255);
            padding: 1.2rem;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;
            border: none;

            &:hover {
              background: $gradient;
              box-shadow: rgba(255, 98, 87, 0.5) 0px 15px 30px;
            }
          }
        }
      }
    }
  }
}
