@import "./reset.scss";
@import "./variables.scss";

body {
  background-color: $dark-grey;

  .container {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      background-color: $white-box;
      display: flex;
      justify-content: center;
      align-items: start;
      padding: 20px;
      border-radius: 40px;
      flex-wrap: wrap-reverse;

      @include mobile {
        padding: 0;
        border-radius: 0;
      }

      .image {
        background-image: url(/assets/images/illustration-sign-up-desktop.svg);
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 20px;
        background-color: red;
        height: 593px;
        width:  400px;

        @include mobile {
            width: 100%;
        }

    
      }
      .text {
        gap: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 4.2rem 3rem;
        height: 100%;
        max-width: 390px;

        @include mobile {
        margin: 2rem;
        }

        h1 {
          font-size: 50px;
          font-weight: 700;
          color: $color-txt;

          @include mobile {
            font-size: 35px;
          }
        }

        ul {
          li {
         
            gap: 20px;
            display: flex;
            justify-content: left;
            align-items: safe;
            max-width: 400px;
            margin-top: 10px;

            svg {
           
                min-width: 25px;
            }
          }
        }
        .form {
          gap: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: left;
          flex-direction: column;
            
          .gap-input {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
          
          .alert {
            display: flex;
            justify-content: space-between;
            span {
              font-size: 12px;
              font-weight: 700;
              color: rgb(255, 98, 87);
            }
            label {
                font-size: 12px;
                font-weight: 700;
            }
          }
          #email {
            border-radius: 8px;
            padding: 1.2rem;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(146, 148, 160);
          }
          button {
            font-size: 16px;
            appearance: none;
            border: unset;
            background-color: rgb(54, 56, 78);
            color: rgb(255, 255, 255);
            padding: 1.2rem;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
