$dark-grey: #242742;
$white-box:  hsl(0, 0%, 100%);
$color-txt:rgb(36, 39, 66);
$gradient: linear-gradient(to right, rgb(244, 62, 132), rgb(255, 98, 87));




@mixin tablet {
    @media (max-width: 925px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 500px) {
      @content;
    }
  }
  